<section id="why" class="container content-section">
    <h2 class="text-center">Why Choose Us?</h2>
    <p class="text-center">Here are just a few reasons to choose <strong>Digital Agency</strong> for all of your  digital marketing needs</p>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="block block-icon-left">
                <div class="icon">
                    <i class="fa fa-briefcase fa-5x"></i>
                </div>
                <div class="icon-content">
                    <h3>Professional</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="block block-icon-left">
                <div class="icon">
                    <i class="fa fa-money fa-5x"></i>
                </div>
                <div class="icon-content">
                    <h3>Low Cost</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="block block-icon-left">
                <div class="icon">
                    <i class="fa fa-dashboard fa-5x"></i>
                </div>
                <div class="icon-content">
                    <h3>Fast</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="block block-icon-left">
                <div class="icon">
                    <i class="fa fa-gear fa-5x"></i>
                </div>
                <div class="icon-content">
                    <h3>Resources & Tools</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="block block-icon-left">
                <div class="icon">
                    <i class="fa fa-users fa-5x"></i>
                </div>
                <div class="icon-content">
                    <h3>Large Community</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="block block-icon-left">
                <div class="icon">
                    <i class="fa fa-book fa-5x"></i>
                </div>
                <div class="icon-content">
                    <h3>Online Courses</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="who" class="content-section text-center">
    <div class="who-section">
        <div class="container">
            <h2>Who Are We?</h2>
            <p class="lead"><strong>Digital Agency</strong> is one of the lead digital marketing firms on the east coast. We are made up of seasoned professionals with a ton of experience.</p>
            <a href="#contact" class="btn btn-default btn-lg">Contact Us Now</a>
        </div>
    </div>
</section>

<section id="clients" class="content-section text-center">
    <div class="container">
        <h2>Our Clients</h2>
        <img src="img/partner1.png">
        <img src="img/partner2.png">
        <img src="img/partner3.png">
        <img src="img/partner4.png">
        <img src="img/partner5.png">
        <img src="img/partner6.png">
    </div>
</section>